go 1.22

use (
	./
)

// =====================================================================================================
// NOTE:
// Please update associated commands in ../../.set_version.sh if any of the follows replacements change.
// =====================================================================================================

replace (
	github.com/gogf/gf/contrib/drivers/clickhouse/v3 => ../../contrib/drivers/clickhouse
	github.com/gogf/gf/contrib/drivers/mssql/v3 => ../../contrib/drivers/mssql
	github.com/gogf/gf/contrib/drivers/mysql/v3 => ../../contrib/drivers/mysql
	github.com/gogf/gf/contrib/drivers/oracle/v3 => ../../contrib/drivers/oracle
	github.com/gogf/gf/contrib/drivers/pgsql/v3 => ../../contrib/drivers/pgsql
	github.com/gogf/gf/contrib/drivers/sqlite/v3 => ../../contrib/drivers/sqlite
	github.com/gogf/gf/v3 => ../../
)
