<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- 模板引擎目录 -->
    <viewpath>/home/www/templates/</viewpath>
    <!-- MySQL数据库配置 -->
    <database>
        <default>
            <host>127.0.0.1</host>
            <port>3306</port>
            <user>root</user>
            <pass>123456</pass>
            <name>test</name>
            <role>master</role>
            <type>mysql</type>
            <charset>utf8</charset>
            <priority>1</priority>
        </default>
        <default>
            <host>127.0.0.1</host>
            <port>3306</port>
            <user>root</user>
            <pass>123456</pass>
            <name>test</name>
            <role>master</role>
            <type>mysql</type>
            <charset>utf8</charset>
            <priority>1</priority>
        </default>
    </database>
    <!-- Redis数据库配置 -->
    <redis>
        <disk>127.0.0.1:6379,0</disk>
        <cache>127.0.0.1:6379,1</cache>
    </redis>
</config>