# Copyright GoFrame Author(https://goframe.org). All Rights Reserved.
#
# This Source Code Form is subject to the terms of the MIT License.
# If a copy of the MIT was not distributed with this file,
# You can obtain one at https://github.com/gogf/gf.

name: GolangCI Lint
on:
  push:
    branches:
      - master
      - develop
      - personal/**
      - feature/**
      - enhance/**
      - fix/**
      - feat/**
  pull_request:
    branches:
      - master
      - develop
      - personal/**
      - feature/**
      - enhance/**
      - fix/**
      - feat/**

jobs:
  golang-ci:
    strategy:
      matrix:
        go-version: [ "1.22", "1.23", "1.24" ]

    name: golang-ci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Golang ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: golang-ci-lint
        uses: golangci/golangci-lint-action@v7
        with:
          # Required: specify the golangci-lint version without the patch version to always use the latest patch.
          version: v2.0
          only-new-issues: true
          skip-cache: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          args: --config=.golangci.yml -v
